/* Decreasing size of blue GE logo on top of page */
.ge-logo {
	width: 45px !important;
	height: 45px !important;
	margin: -30px 15px 15px 15px !important;
}

/* Decreasing height of top navigation bar */
/*.navbar .navbar-inner {
	min-height: 102px !important;
}*/

/* Decreasing height of top navigation bar */
.sticky-footer > header {
	height: 50px !important;
}

/* Equalizing the height of each business boxes */
.block.feature {
	min-height: 696px !important;
}

/* Removing right margin for business overview text */
.feature p {
	margin-right: 0% !important;
}

/* Moving footer logo */
.footer .brand {
	float: right;
	margin-top: 22px !important;
}

.footer .ge-logo {
	position: relative;
	top: 17px;
}

/* Resizing h3 font */
h3 {
	font-size: 20px !important;
}

h1 {
	font-weight: bold !important;
}

h1, h3, h4 {
	margin: 10px 0 !important;
}

/* Pushing down text in main header */
.hero .text {
	bottom: 5px !important;
}

/* Decreasing height of navbar brand for IE 11 viewing */
.navbar .brand {
	height: 5px !important;
}